.demoInfiniteContainer {
  // border: 1px solid #e8e8e8;
  // border-radius: 4px;
  overflow: auto;
  // padding: 8px 24px;
  height: 100%;
}

.demoLoadingContainer {
  position: absolute;
  bottom: 40px;
  width: 100%;
  text-align: center;
}

.list {
  padding: 1rem 2rem;
}

.list:hover {
  background-color: #e6f7ff;
}

.option {
  margin-right: 1rem;
  cursor: pointer;

}

.optionBox {
  span {
    cursor: pointer;

  }

  span:hover {
    color: #1890ff;
  }
}
